@model CourseProject.Models.BrandsViewModel
@using CourseProject.Helpers
@using CourseProject.Models

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Brands</h2>

<div class="table-actions">
    @if (LoginUserSession.Current.IsAdministrator)
    {
    @Html.ActionLink("Add New Brand", "EditBrand", "Brand", null, new { @class = "btn btn-primary btn-sm" })
    }


</div>

<table class="table table-striped">

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Country of origin</th>
            <th></th>
            <th></th>
        </tr>

    </thead>

    <tbody>

        @foreach (BrandViewModel brand in Model.brands)
        {
        <tr>
            <td>@brand.ID</td>
            <td>@brand.Name</td>
            <td>@brand.CountryOfOrigin</td>
            @if (LoginUserSession.Current.IsAdministrator)
            {
            <td>@Html.ActionLink("Edit", "EditBrand", "Brand", new { id = brand.ID }, new { @class = "btn btn-primary btn-sm" })</td>
            <td>@Html.ActionLink("Delete", "Delete", "Brand", new { id = brand.ID }, new { onclick = "return confirm('Are you sure you want to delete this brand?');", @class = "btn btn-danger btn-sm" })</td>
            }

        </tr>
        }

    </tbody>

</table>

